{% extends 'base.html' %}
{% block content %}
    <h1>Toko Notloo - GPU Terbaik</h1>

    <div class="container">
        <div class="product">
            <h2>RTX 4090</h2>
            <p class="price">Rp 30.000.000</p>
            <p>GPU terbaik dari NVIDIA dengan performa tertinggi untuk gaming dan rendering grafis 3D. Cocok untuk para profesional dan gamer yang menginginkan kualitas visual maksimal.</p>
        </div>

        <div class="product">
            <h2>RTX 4080</h2>
            <p class="price">Rp 25.000.000</p>
            <p>GPU kelas atas dengan performa luar biasa untuk gaming dan pekerjaan berat seperti rendering video dan pemodelan 3D. Pilihan tepat untuk pengguna yang menginginkan performa tinggi dengan harga lebih terjangkau dibandingkan RTX 4090.</p>
        </div>

        <div class="product">
            <h2>RTX 4070</h2>
            <p class="price">Rp 20.000.000</p>
            <p>Performa tinggi dengan harga yang lebih bersahabat, RTX 4070 menawarkan kemampuan untuk menjalankan game AAA dan aplikasi grafis dengan pengaturan tinggi.</p>
        </div>
    </div>
    {% if not mood_entries %}
    <p>Belum ada data mood pada mental health tracker.</p>
    {% else %}
    <table>
      <tr>
        <th>Mood Name</th>
        <th>Time</th>
        <th>Feeling</th>
        <th>Mood Intensity</th>
      </tr>
    
      {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
      {% endcomment %} 
      {% for mood_entry in mood_entries %}
      <tr>
        <td>{{OrderForm.product}}</td>
        <td>{{OrderForm.quantity}}</td>
        <td>{{OrderForm.customer_name}}</td>
        <td>{{OrderForm.customer_email}}</td>
        <td>{{OrderForm.address}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'main:order_gpu' %}">
      <button>Buy New GPU</button>
    </a>
    </div>    
    <h5>Nama Aplikasi: </h5>
    <p>{{ apk }}</p>

    <h5>Name: </h5>
    <p>{{ name }}</p>

    <h5>Class: </h5>
    <p>{{ class }}</p>
{% endblock content %}
